{{! START:DataView }}
{{! START:View }}
<ul>
  {{#bookmarks}}
    {{! END:DataView }}
    {{! END:View }}
    {{! START:View
    <li>
        END:View }}
    {{! START:DataView }}
    <li {{data "bookmark"}}>
    {{! START:View }}
       <a href="{{url}}">{{title}}</a>
     ( <a href="{{url}}">{{url}}</a> )
       <img class="edit" src ="/images/edit.png"/>
       <img class="delete" src ="/images/delete.png"/>

    </li>
  {{/bookmarks}}
</ul>
{{! END:View }}
{{! END:DataView }}
